<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>

    <link rel="stylesheet" href="../res/css/theme.css" />
    <!-- <link rel="stylesheet" href="../res/css/attendance.css"> -->
    <link rel="stylesheet" href="../res/css/attend.css">


</head>
<body>
    <div class="main">
        <header>
            <span id="logo">
                <img src="../res/img/TU-Logo.svg.png" alt="TU Logo">
            <h1>Mechi Multiple Campus</h1>
            </span>
            <nav>
                <a href="#">Home</a>
            </nav>
        </header>
        <div class="program">
            <div class="label_area">
                <label for="program">Program</label>
            </div>
            
            <div class="dropdown_area">
                <select name="program" id="program" class="select">
                    <option value="CSIT">CSIT</option>
                    <option value="BCA">BCA</option>
                    <option value="BBA">BBA</option>
                    <option value="BIM">BIM</option>
                </select>
            </div>
        </div>
        
        <div class="semester">
            <div class="label_area">
                <label for="semester">Semester</label>
            </div>
            
            <div class="dropdown_area">
                <select name="semester" id="semester" class="select">
                    <option value="1">First</option>
                    <option value="2">Second</option>
                    <option value="3">Third</option>
                    <option value="4">Fourth</option>
                    <option value="5">Fifth</option>
                    <option value="6">Sixth</option>
                    <option value="7">Seventh</option>
                    <option value="8">Eighth</option>
                </select>
            </div>
            
        </div>

        <div class="subject">
            <header class="code">CSC 110</header>
            <header class="title">Design and Analysis of Algorithms</header>
            <div class="date">
                <input type="date">
            </div>
        </div>

        <div class="student">
            <header>Student List</header>
            <table>
                <thead>
                    <tr>
                        <th>ROLL NO</th>
                        <th>NAME</th>
                        <th>ATTENDANCE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bipul Karki</td>
                        <td>
                            <form action="POST">
                                <input type="radio" name="status" value="present" checked>P
                                <input type="radio" name="status" value="absent">A
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Bhawesh Mishra</td>
                        <td>
                            <form action="POST">
                                <input type="radio" name="status" value="present" checked>P
                                <input type="radio" name="status" value="absent">A
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Save</button>
        </div>
    </div>
</body>
</html>