<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal | Mechi Multiple Campus</title>
    <link rel="stylesheet" href="../res/css/index.css" />
    <link rel="stylesheet" href="../res/css/theme.css" />
    <link rel="icon" type="image/x-icon" href="../res/img/favicon.png" />
  </head>
  <body>
    <main>
      <section>
        <img src="../res/img/TU-Logo.svg.png" alt="TU Logo" />
        <h1>Mechi Multiple Campus</h1>
      </section>
      <section id="login">
        <form method="POST">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="username"
            autocomplete="off"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            autocomplete="off"
          />
          <button type="submit">Login</button>
        </form>
      </section>
    </main>
  </body>
</html>
