<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../res/css/theme.css" />
    <link rel="stylesheet" href="../res/css/teacher.css">
    <title>Teacher</title>
    
</head>
<body>

    <section>
        

        <div>
            <h2 id="id1">select any option</h2>
            <button type="submit">Attendance</button>
            <button type="submit">Result</button>
        </div>
    </section>
</body>
</html>