
        body {
    font-family: Arial, Helvetica, sans-serif, system;
     background-color: var(--out_of_focus-color);
    }
    img {
        height: calc(var(--h1-size) * 2 + 1rem);
        width: auto;
      }
